<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic (~{::main})}">
    <!-- Main Content -->
    <main>
        <div class="container-fluid pt-8" ng-app="appEmployee" ng-controller="ctrlEmployee">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Employee Manager</h1>
            <!-- From -->
            <div class="my-4 ">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Employee Number</label>
                        <input type="text" class="form-control" ng-model="form.employee_number">
                        <div id="emailHelp" class="form-text text-danger" ng-bind="errorEmployeeNumber"></div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" ng-model="form.name">
                        <div id="emailHelp" class="form-text text-danger" ng-bind="errorName"></div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" ng-model="form.phone_number">
                        <div id="emailHelp" class="form-text text-danger" ng-bind="errorPhone"></div>
                    </div>

                    <div class="mb-3 ">
                        <label for="exampleInputEmail1" class="form-label">Position</label>
                        <input type="text" class="form-control" ng-model="form.position">
                        <div id="emailHelp" class="form-text text-danger" ng-bind="errorPosition"></div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="text" class="form-control" ng-model="form.email">
                        <div id="emailHelp" class="form-text text-danger" ng-bind="errorEmail"></div>
                    </div>

                    <button type="button" class="btn btn-success mx-2" ng-click="create()">Create</button>
                    <button type="button" class="btn btn-info mx-2"  ng-click="refresh()">Refresh</button>
                </form>
            </div>

            <!-- End From -->

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DataTables Employee</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tableEmployee" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                	<td></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/js/employeeJS.js"></script>